.button-manage{
    width: 120px;
    background-color:#0980c4eb;
    padding: 10px 20px;
    border: none;
    height: 40px;
    border-radius: 5px;
    font-weight:bold;
}
.detail-card-images{
   
    width: 600px;
    border-radius:10px;
}
.detail-card-text{
    margin-top: 90px;
    font-weight: 600;
    color: black;
}
#product-detail{
display: flex;
justify-content:space-between;
}
.manage-button{
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #0980c4eb;
    font-weight:bold;
    
}
.manage-p{
    font-size: 12px;
}
.add{
   
    font-weight:bold;
    background-color:#0980c4eb;
}