.login{
    margin-top: 70px;
    margin-bottom: 100px;
    width: 70%;
    box-shadow: 5px 5px 10px;
    background-color:#0980c4eb;
    margin: auto;
}
.login-forms{
    margin: 8px;
    width: 500px;
    height: 40px;
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid rgb(102, 94, 94);
}
 input[type="submit"]{
   background-color: white;
    border: none;
   width: 150px;
   height: 40px;
   border-radius: 5px;
 
}
.button-reset{
    height: 25px;
    width: 120px;
    border-radius: 6px;
    border: none;
    font-size: 14px;
    margin-bottom: 20px;
    margin-left: 10px;
    
}
.google{
    width: 260px;
    height: 90px;
}